header {
    background: #645346;

    @media (max-width: 1105px) {
        position: fixed;
        width: 100%;
        height: 70px;
        z-index: 10;
        top: 0;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        width: 1079px;
        margin: auto;
        height: 74px;

        @media (max-width: 1105px) {
            width: 100%;
        }
        
        a {
            text-decoration: none;
            color: #fff;

            h1 {
                text-transform: uppercase;
                font-size: 40px;
                letter-spacing: 0.1px;

                @media (max-width: 1105px) {
                    margin: 10px;
                }
            }
        }

        nav {
            
            label {

                img {
                    max-height: 40px;
                    max-width: 40px;
                    cursor: pointer;
                    visibility: hidden;
                    display: none;
                    margin: 15px;
                    position: absolute;
                    top: 0;
                    right: 0;

                    @media (max-width: 1105px) {
                        display: block;
                        visibility: visible;
                    }
                }
            }

            .toggle {
                visibility: hidden;
                display: none;

                @media (max-width: 1105px) {
                    &~ul {
                        transform: translateY(-400%);
                        flex-direction: column;
                        text-align: end;
                    }
                }
            
                &:checked~ul {
                    display: block;
                    position: relative;
                    z-index:3;
                    color: #fff;
                    background-color: #645346;
                    font-weight: 800;
                    width: 100%;

                    @media (max-width: 1105px) {
                        transform: translateY(64%);
                        transition: 1s;
                        position: absolute;
                        top: -90px;
                        right: 0;
                        text-align: end;
                        flex-direction: column;
                        li {
                            font-size: 22px;
                            padding-top: 15px;
                        }
                    }

                    @media (min-width: 1106px) {
                        display: flex;
                    }
                }
            }

            ul {
                display: flex;
                list-style: none;

                @media (min-width: 1106px) {
                    display: flex;
                    flex-direction: row;
                }

                li {
                    font-size: 12px;
                    padding: 5px;
                    letter-spacing: 0.5px;
                    line-height: 14px;

                    &:first-child::before {
                        display: none;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        margin-left: -5px;
                        margin-top: 2px;
                        width: 1px;
                        height: 10px;
                        background-color: #fff;

                        @media (max-width: 1105px) {
                            display: none;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-family: 'Roboto';
                        font-weight: 300;
                        font-style: normal;

                        &:focus, &:hover {
                            color: #FE8C00;
                        }
                    }
                }
            }
        }

        .phones {
            display: flex;
            font-size: 23px;
            align-items: center;

            @media (max-width: 1105px) {
                display: none;
            }

            a {
                padding: 0 7px 0 0;
                display: flex;
            }

            .phones-number {
                font-weight: 600;
                letter-spacing: -0.5px;
            }
        }

        .reload {
            border: none;
            padding: 10px;
            text-transform: uppercase;
            font-weight: bold;
            background-color: rgb(58, 116, 0);
            color: #fff;
        }

    }
}

button {
    cursor: pointer;
    font-family: "SF Pro Display";
    font-style: normal;
}

button, label, input, a, select, svg, img {
    &:active, &:hover, &:focus {
        outline: 0 !important;
        outline-offset: 0 !important;
    }
}