.hero {
  background-image: linear-gradient(to right, rgba(65, 46, 30, 0.33), rgba(65, 46, 30, 0.33)), url(../../img/first-bg.png);
  color: #fff;
  height: 819px;
  padding-top: 70px;
  padding-left: 420px;
  padding-right: 420px;

  .hero-text{
    width: 842px;
    margin: 7px 0 29px 0;
    background: #41362E;
    font-weight: 800;
    padding-left: 18px;

    h1 {
      font-size: 60px;
      letter-spacing: 1.6px;

      &::before {
        content: "";
        position: absolute;
        background: linear-gradient(180deg, #FE8C00, #F36D00);
        height: 1.88em;
        width: 7px;
        margin-left: -18px;
      }
    }

    h2 {
      font-size: 36px;
      letter-spacing: 3.3px;
    }
  }

  .hero-info {
    width: 842px;
    display: flex;
    justify-content: space-between;
    

    div {
      display: flex;
      align-items: center;
      height: 59px;
      background-color: #41362E;
      font-size: 18px;
      // min-width: 245px;
      // max-width: 302px;

      .img {
        width: 59px;
        height: 59px;
        background-color: #7C6A5D;
        align-items: center;

        .icon-bg {
          background-image: url(../../img/icon-bg.png);
          padding: 10px 8px 10px 14px;
          width: 100%;
          height: 100%;
        }
      }

      .text {
        font-size: 16px;
        font-weight: 800;
        padding-left: 22px;
        /* padding-right: 37px; */
        max-width: 245px;
        letter-spacing: 1px;
        min-width: 217px;

        // font-size: 16px;
        // font-weight: 800;
        // padding-left: 22px;
        // padding-right: 11px;
        // max-width: 245px;
        // letter-spacing: 1px;
      }
    }
  }

  .hero-btn {
    text-align: center;

    .btn-cost {
      width: 431px;
      height: 78px;
      margin: 230px;
      margin-bottom: 94px;
      color: #fff;
      font-weight: 800;
      font-size: 25px;
      background: linear-gradient(180deg, #FE8C00 0%, #F36D00 100%);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      border: 3px solid #F47000;
    }
  }
}

#hero-slider {
  transition: all 1s;
}



@media (max-width: 1600px) {
  .hero {
    padding-left: 210px;
    padding-right: 210px;;
  }
}


@media (max-width: 1366px) {
  .hero {
    padding-left: 150px;
    padding-right: 150px;;
  }
}