.price-counter {
    height: 1045px;
    background-image: url(./../img/bg-price-counter.png);
    background-color: #5E4F44;

    @media (max-width: 1105px) {
        height: 900px;
    }

    @media (max-width: 767px) {
        height: 100%;
    }

    .price-counter-container {
        width: 1079px;
        margin: auto;

        @media (max-width: 1105px) {
            width: 700px;
        }

        @media (max-width: 767px) {
            width: 98%;
            padding-bottom: 20px;
        }

        .text-header {
            padding: 62px 0 62px 18px;

            @media (max-width: 1105px) {
                padding: 40px 0 40px 18px;
            }

            h2 {
                font-size: 45px;
                letter-spacing: 1.1px;
                color: #fff;
                font-weight: 700;

                @media (max-width: 1105px) {
                    font-size: 32px;
                }

                @media (max-width: 425px) {
                    font-size: 22px;
                }
        
                @media (max-width: 375px) {
                    font-size: 18px;
                }
                
                &::before {
                    content: "";
                    position: absolute;
                    background: linear-gradient(180deg, #FE8C00, #F36D00);
                    height: 64px;
                    width: 7px;
                    margin-left: -18px;
                    margin-top: -6px;

                    @media (max-width: 1105px) {
                        height: 84px;
                    }

                    @media (max-width: 425px) {
                        height: 64px;
                    }
            
                    @media (max-width: 375px) {
                        height: 54px;
                    }
                }
            }
        }

        .calculator {
            max-width: 1079px;
            width: 100%;
            max-height: 784px;
            height: 100%;
            background-color: #fff;

            @media (max-width: 1105px) {
                width: 600px;
                margin-left: 0;
                margin: auto;
            }

            @media (max-width: 767px) {
                width: 300px;
            }

            .calc-btn {
                width: 163px;
                height: 47px;
                background: #EAEAEA;
                border: 2px solid #645346;
                box-sizing: border-box;
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin: -3px;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                @media (max-width: 1105px) {
                    width: 145px;
                }

                @media (max-width: 767px) {
                    width: 75px;
                    height: 25px;
                }

                span {
                    font-family: 'Segoe UI';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 13px;

                    @media (max-width: 767px) {
                        font-size: 8px;
                        line-height: 5px;
                        max-height: 8px;
                    }
                }

                &:focus, &:hover {
                    background: linear-gradient(180deg, #645346 0%, #000000 100%);
                    border: 2px solid #F36D00;
                    box-sizing: border-box;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    color: #F36D00;
                }
            }

            .calc-btn--left {
                border-radius: 50px 5px 5px 50px;
            }

            .calc-btn--mid {
                border-radius: 5px;
            }

            .calc-btn--right {
                border-radius: 5px 50px 50px 5px;
            }

            .content-top {
                display: flex;
                padding: 26px 12px 22px 10px;

                @media (max-width: 1105px) {
                    padding: 5px;
                    justify-content: center;
                }

                .content-top--left {

                    .img-wrapper {

                        .calc-img {
                            max-width: 346px;
                            width: 100%;

                            @media (max-width: 1105px) {
                                max-width: 0;
                                width: 0%;
                                height: 0;
                                display: none;
                            }
                        }
                    }
                }

                .content-top--right {
                    text-align: center;
                    padding: 18px 0 0 47px;

                    @media (max-width: 1105px) {
                        padding: 0;
                    }

                    .info-top {

                        @media (max-width: 767px) {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }

                        .info-top-first {

                            .text {
                                font-size: 20px;
                                font-weight: normal;
                                margin-bottom: 12px;

                                @media (max-width: 767px) {
                                    font-size: 10px;
                                }
                            }

                            .top-btn {
                                display: flex;

                                input {
                                    display: none;

                                    &:checked+label {
                                        background: linear-gradient(180deg, #645346 0%, #000000 100%);
                                        border: 2px solid #F36D00;
                                        box-sizing: border-box;
                                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                        color: #F36D00;
                                    }
                                }
                            }
                        }

                        .info-top-second {

                            .text {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 20px;
                                margin: 35px 0 17px;

                                @media (max-width: 767px) {
                                    font-size: 10px;
                                    margin: 10px 0;
                                }
                            }

                            .top-second-btn {
                                display: flex;
                                justify-content: space-evenly;
                                
                                .second-btn-bar {
                                    display: flex;
                                    flex-direction: column;
                                    width: 94px;
                                    align-items: center;
                                    justify-content: space-between;
                                    cursor: pointer;

                                    input {
                                        display: none;

                                        &:checked+label {

                                            &+span {
                                                font-weight: bold;
                                            }
                                        }
                                    }

                                    label {
                                        border: none;
                                        background: none;
                                        cursor: pointer;

                                        img {
                                            @media (max-width: 767px) {
                                                height: 35px;
                                            }
                                        }
                                    }

                                    span {
                                        font-family: 'Segoe UI';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;

                                        &:hover, &:focus {
                                            font-weight: bold;
                                        }

                                        @media (max-width: 767px) {
                                            font-size: 8px;
                                        }
                                    }

                                    &:hover, &:focus {
                                        
                                        span {
                                            font-weight: bold;
                                        }

                                        &::after {
                                            content: "";
                                            position: absolute;
                                            background: #FE8C00;
                                            height: 3px;
                                            width: 80px;
                                            margin: 78px;

                                            @media (max-width: 767px) {
                                                width: 45px;
                                                margin: 52px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .info-top-third {

                            .text {
                            margin: 24px 0 11px;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 20px;

                                @media (max-width: 767px) {
                                    font-size: 10px;
                                    margin: 10px 0;
                                }
                            }

                            .top-input {

                                input {
                                    width: 230px;
                                    height: 51px;
                                    background: #EAEAEA;
                                    border: 2px solid #645346;
                                    box-sizing: border-box;
                                    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                                    border-radius: 50px;
                                    margin: 0 6px;
                                    text-align: center;
                                    font-family: 'Segoe UI';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;

                                    @media (max-width: 1105px) {
                                        height: 47px;
                                    }

                                    @media (max-width: 767px) {
                                        height: 22px;
                                        width: 150px;
                                        margin: 2px 6px;
                                    }
                                }
                            }
                        }
                    }
                }

            }

            .content-bottom {
                text-align: center;

                .info-bottom-fourth {

                    .text {
                        font-weight: normal;
                        font-size: 20px;
                        margin-bottom: 13px;

                        @media (max-width: 767px) {
                            font-size: 10px;
                            margin-bottom: 10px;
                        }
                    }

                    .bottom-btn {
                        display: flex;
                        justify-content: center;

                        input {
                            display: none;

                            &:checked+label {
                                background: linear-gradient(180deg, #645346 0%, #000000 100%);
                                border: 2px solid #F36D00;
                                box-sizing: border-box;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                color: #F36D00;
                            }
                        }

                        label {
                            width: 150px;

                            @media (max-width: 767px) {
                                width: 75px;
                                height: 25px;
                            }
                        }
                    }
                }

                .info-bottom-phone {
                    p {
                        font-weight: normal;
                        font-size: 20px;
                        margin: 28px 0 10px;

                        @media (max-width: 767px) {
                            font-size: 12px;
                            margin: 10px 0 7px;
                        }
                    }

                    .phone {
                        width: 307px;
                        height: 51px;
                        background: #EAEAEA;
                        border: 2px solid #645346;
                        box-sizing: border-box;
                        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 50px;
                        font-family: 'Segoe UI';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        text-align: center;

                        @media (max-width: 767px) {
                            height: 25px;
                            width: 240px;
                        }
                    }
                }

                .content-btn {

                    button {
                        width: 552px;
                        height: 78px;
                        color: #fff;
                        font-weight: 700;
                        font-size: 28px;
                        background: linear-gradient(180deg, #FE8C00, #F36D00);
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 50px;
                        border: 3px solid #F47000;
                        margin: 25px 0 18px;
                        letter-spacing: 0.7px;

                        @media (max-width: 767px) {
                            font-size: 10px;
                            width: 200px;
                            height: 30px;
                            margin: 10px 0 5px;
                        }
                    }

                    p {
                        opacity: 0.4;                  
                        padding-bottom: 45px;

                        @media (max-width: 1105px) {
                            padding-bottom: 10px;
                        }

                        @media (max-width: 767px) {
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
}


