.products {
    padding: 0 420px;
    background-image: url(../../img/bg-products.png);
    height: 721px;

    h2 {
        font-size: 45px;
        padding-top: 60px;
        
        &::before {
            content: "";
            position: absolute;
            background: linear-gradient(180deg, #FE8C00 0%, #F36D00 100%);
            height: 64px;
            width: 7px;
            margin-left: -11px;
            margin-top: -4px;
        }
    }

    .nav-btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .btn-class {
            width: 254px;
            height: 52px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50px;
            border: 3px solid #728E05;
            font-size: 16px;
            font-weight: bold;
            color: #000;

            &:focus, &:hover {
                background: linear-gradient(180deg, #ABC839 0%, #6D8800 100%);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 50px;
                border: 2px solid linear-gradient(#A8C536, #728E05);
                color: #fff;

                img {
                    transform: rotate(90deg);
                    color: #fff;
                }
            }

            img {
                position: relative;
                left: 60px;
            }
        }
    }

    .nav-class {
        display: flex;
        justify-content: space-evenly;

        .nav-class--type {
            width: 254px;
            margin: 15px 0;
            background-color: #645346;
            
            .text {
                padding: 5px;
                width: 254px;
                text-align: center;
                background-color: #DCD4CD;

                h3 {
                    font-size: 20px;
                }

                p {
                    text-transform: lowercase;
                    font-size: 16px;
                }
            }

            .img {
                height: 268px;
                
                img {
                    width: 254px;
                    max-height: 300px;
                }
            }

            .btn-count {
                width: 254px;
                height: 32px;
                color: #fff;
                font-weight: bold;
                background: linear-gradient(180deg, #FE8C00 0%, #F36D00 100%);
                border: none;
            }
        }
    }
}



@media (max-width: 1600px) {
    .products {
        padding: 0 210px;
    }
}

@media (max-width: 1366px) {
    .products {
        padding: 0 150px;
    }
}