* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  background-color: #6c727c; }

.slider {
  max-width: 90%;
  position: relative;
  margin: auto;
  height: 300px; }
  .slider .item img {
    object-fit: cover;
    max-width: 100%;
    height: 300px;
    margin-left: 50%; }
  .slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; }
  .slider .next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .slider .previous:hover, .slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2); }
  .slider .item {
    animation-name: fade;
    animation-duration: 1.5s; }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

.memo-game {
  height: 640px;
  width: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px; }
  .memo-game .memo-card {
    height: calc(100% / 3 - 10px);
    width: calc(100% / 4 - 10px);
    margin: 5px;
    position: relative;
    backface-visibility: hidden;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s; }
    .memo-game .memo-card .memo-card--front, .memo-game .memo-card .memo-card--back {
      height: 100%;
      width: 100%;
      padding: 20px;
      backface-visibility: hidden;
      position: absolute;
      top: 0; }
    .memo-game .memo-card .memo-card--front {
      background: linear-gradient(to right, #fff, #912);
      transform: rotateY(180deg); }
    .memo-game .memo-card .memo-card--back {
      background: linear-gradient(to left, #000, #33851c); }
  .memo-game .memo-card:active {
    transform: scale(0.95);
    transition: transform .2s; }

.memo-card.flip {
  transform: rotateY(180deg); }
