.offer
    .text
        h2 Мы предлагаем:
    .content
        img(src="../../img/offer-img.png", alt="")
        .info
            .info-content
                img(src="../../img/offer-icon1.png", alt="")
                p Замер	и	установка бесплатно
            .info-content
                img(src="../../img/offer-icon2.png", alt="")
                p Гарантия: 1	год
            .info-content
                img(src="../../img/offer-icon3.png", alt="")
                p Рассрочка	0%	до	2	лет
            .info-content
                img(src="../../img/offer-icon4.png", alt="")
                p Срок	изготовления: 3-7	дней
            .info-content.icon-bg
                img.icon-bg(src="../../img/offer-icon5.png", alt="")
                p Аккуратный	монтаж	– не	испортим	и	не	испачкаем	ваше	окно при	установке
            .info-content
                img.icon-bg(src="../../img/offer-icon6.png", alt="")
                p После	установки	убираем	за	собой весь	мусор

.short
    .text
        h2 Коротко о наших рольшторах:
    .info