.offer
    .text#headers
        h2 Мы предлагаем:
    .content
        .offer-img
            img(src="../../img/offer-img.png", alt="")
        .info
            .info-content
                img(src="../../img/offer-icon1.png", alt="")
                p Замер	и	установка 
                    b бесплатно
            .info-content
                img(src="../../img/offer-icon2.png", alt="")
                p
                    b Гарантия: 
                    | 1	год
            .info-content
                img(src="../../img/offer-icon3.png", alt="")
                p
                    b Рассрочка	0% 
                    | до	2	лет
            .info-content
                img(src="../../img/offer-icon4.png", alt="")
                p Срок	изготовления: 
                    b 3-7	дней
            .info-content
                img(src="../../img/offer-icon5.png", alt="")
                p
                    b Аккуратный	монтаж	– 
                    br
                    | не	испортим	и	не	испачкаем	ваше	окно при	установке
            .info-content
                img(src="../../img/offer-icon6.png", alt="")
                p После	установки 
                    b убираем	за	собой весь	мусор

.short
    .text#headers
        h2 Коротко о наших рольшторах:
    .short-info
        .short-info-bar
            .img
                img(src="../../img/short-icon1.png", alt="")
            span
                b Отталкивают	пыль	и	грязь
        .short-info-bar
            .img.img-mid
                img(src="../../img/short-icon2.png", alt="")
            span
                b Не	меняют	цвет	и	не	выгорают 
                | на	солнце	
        .short-info-bar
            .img
                img(src="../../img/short-icon3.png", alt="")
            span Механизмы 
                b не	расшатываются	и	не	выходят	из	строя	