.text 
    h2 Выбирайте ткани в	наших	каталогах

.nav-class
    .nav-class--type
        .img
            img(src="", alt="image")
        .text
            h3 Каталог светопроницаемых тканей
            p 300+ вариантов фактур
        
        button.btn-count Смотреть каталог