h2 Какие рольшторы мы производим

.nav-btn
    button.btn-class Открытые
        img(src="../../img/Vector.png", alt="")
    button.btn-class Кассетные
        img(src="../../img/Vector.png", alt="")
    button.btn-class Для панорамных окон
        img(src="../../img/Vector.png", alt="")
    button.btn-class С автоматикой
        img(src="../../img/Vector.png", alt="")

.nav-class 
    .nav-class--type
        .text
            h3 Светопроницаемые
            p для мягкого рассеянного света в комнате
        .img
            img(src="../../img/w1-1.png", alt="image of rolls")
        button.btn-count Рассчитать стоимость >>

    .nav-class--type
        .text
            h3 День-ночь
            p с возможностью регулировать степень проникновения света
        .img
            img(src="../../img/w1-2.png", alt="image of rolls")
        button.btn-count Рассчитать стоимость >>

    .nav-class--type
        .text
            h3 Screen
            p блокируют около 90% света в комнате
        .img
            img(src="../../img/w1-3.png", alt="image of rolls")
        button.btn-count Рассчитать стоимость >>

    .nav-class--type
        .text
            h3 Блэкаут
            p для абсолютной темноты в помещении
        .img
            img(src="../../img/w1-4.png", alt="image of rolls")
        button.btn-count Рассчитать стоимость >>