.memo-card
    .memo-card--front 1
    .memo-card--back a

.memo-card
    .memo-card--front 2
    .memo-card--back b

.memo-card
    .memo-card--front 3
    .memo-card--back c

.memo-card
    .memo-card--front 4
    .memo-card--back d

.memo-card
    .memo-card--front 5
    .memo-card--back e

.memo-card
    .memo-card--front 6
    .memo-card--back f

.memo-card
    .memo-card--front 7
    .memo-card--back g

.memo-card
    .memo-card--front 8
    .memo-card--back h

.memo-card
    .memo-card--front 9
    .memo-card--back i

.memo-card 
    .memo-card--front 10
    .memo-card--back j

.memo-card 
    .memo-card--front 11
    .memo-card--back k

.memo-card 
    .memo-card--front 12
    .memo-card--back l