.memo-card(data-word="a")
    .memo-card--front 1
    .memo-card--back a

.memo-card(data-word="a")
    .memo-card--front 1
    .memo-card--back a

.memo-card(data-word="b")
    .memo-card--front 2
    .memo-card--back b

.memo-card(data-word="b")
    .memo-card--front 2
    .memo-card--back b

.memo-card(data-word="c")
    .memo-card--front 3
    .memo-card--back c

.memo-card(data-word="c")
    .memo-card--front 3
    .memo-card--back c

.memo-card(data-word="d")
    .memo-card--front 4
    .memo-card--back d

.memo-card(data-word="d")
    .memo-card--front 4
    .memo-card--back d

.memo-card(data-word="e")
    .memo-card--front 5
    .memo-card--back e

.memo-card(data-word="e")
    .memo-card--front 5
    .memo-card--back e

.memo-card(data-word="f")
    .memo-card--front 6
    .memo-card--back f

.memo-card(data-word="f")
    .memo-card--front 6
    .memo-card--back f