.text#headers
    h2 Работы 2021	года

.slider-works
    .slider-show#slider-show(dir='rtl')
        .slider-images.showing
            .img
                img(src="../../img/slides-works1.jpg", alt="рольшторы на пластиковые окна")
            .img
                img(src="../../img/slides-works2.jpg", alt="рольшторы минск")
            .img 
                img(src="../../img/slides-works3.jpg", alt="рольшторы день ночь")
            .img
                img(src="../../img/slides-works4.jpg", alt="рольшторы на пластиковые окна")
            .img
                img(src="../../img/slides-works5.jpg", alt="рольшторы минск цена")
            .img
                img(src="../../img/slides-works6.jpg", alt="купить рольшторы цены")
            .img
                img(src="../../img/slides-works7.jpg", alt="рольшторы на пластиковые окна")
            .img
                img(src="../../img/slides-works8.jpg", alt="рольшторы минск цена")
            .img
                img(src="../../img/slides-works9.jpg", alt="купить рольшторы цены")
        .slider-images
            .img
                img(src="../../img/slides-works10.jpg", alt="рольшторы на пластиковые окна")
            .img
                img(src="../../img/slides-works11.jpg", alt="рольшторы на пластиковые окна")
            .img
                img(src="../../img/slides-works12.jpg", alt="купить рольшторы цены")
            .img
                img(src="../../img/slides-works13.jpg", alt="купить рольшторы цены")
            .img
                img(src="../../img/slides-works14.jpg", alt="рольшторы минск цена")
            .img
                img(src="../../img/slides-works16.jpg", alt="рольшторы на пластиковые окна")
            .img
                img(src="../../img/slides-works17.jpg", alt="рольшторы минск цена")
            .img
                img(src="../../img/slides-works18.jpg", alt="купить рольшторы цены")
            .img
                img(src="../../img/slides-works19.jpg", alt="купить рольшторы цены")
        .slider-images
            .img
                img(src="../../img/slides-works20.jpg", alt="рольшторы минск цена")
            .img
                img(src="../../img/slides-works21.jpg", alt="рольшторы на пластиковые окна")
            .img
                img(src="../../img/slides-works22.jpg", alt="рольшторы минск цена")
            .img
                img(src="../../img/slides-works23.jpg", alt="купить рольшторы цены")
            .img
                img(src="../../img/slides-works24.jpg", alt="рольшторы минск цена")


    .slider-btn
        button.btn-slider#works-btn-first
            svg(width='32' height='32' viewbox='0 0 43 43' xmlns='http://www.w3.org/2000/svg')
                circle#circle-first(cx='21.5' cy='21.5' r='21.5' fill='#ABC839')
                text(x='15' y='30' style='font-size: 18px; font-weight: 800;') 1
        button.btn-slider#works-btn-second
            svg(width='32' height='32' viewbox='0 0 43 43' xmlns='http://www.w3.org/2000/svg')
                circle#circle-second(cx='21.5' cy='21.5' r='21.5' fill='#CCCCCC')
                text(x='15' y='30' style='font-size: 18px; font-weight: 800;') 2
        button.btn-slider#works-btn-third
            svg(width='32' height='32' viewbox='0 0 43 43' xmlns='http://www.w3.org/2000/svg')
                circle#circle-third(cx='21.5' cy='21.5' r='21.5' fill='#CCCCCC')
                text(x='15' y='30' style='font-size: 18px; font-weight: 800;') 3