.item
    img(src='https://static9.depositphotos.com/1008244/1105/v/600/depositphotos_11057948-stock-illustration-shiny-gold-star.jpg')

.item
    img(src='https://img2.freepng.ru/20180422/sbe/kisspng-computer-icons-star-vector-star-stable-clip-art-three-dimensional-five-pointed-star-5adca9ea23a212.751620801524410858146.jpg')

.item
    img(src='https://static8.depositphotos.com/1245125/996/v/600/depositphotos_9961023-stock-illustration-vector-illustration-of-red-star.jpg')

a.previous(onclick="previousSlide()") &#10094;
a.next(onclick="nextSlide()") &#10095;