.header-text#headers
    h2 Лучшие	предложения	этого	месяца

.slider-top 
    .slider-btn-specials
            button.btn-slider-spec#spec-btn-first
                svg(width='43' height='43' viewbox='0 0 43 43' xmlns='http://www.w3.org/2000/svg')
                    circle#spec-circle-first(cx='21.5' cy='21.5' r='21.5' fill='#ABC839')
                    text(x='15' y='30' style='font-size: 22px; font-weight: 800;') 1
            button.btn-slider-spec#spec-btn-second
                svg(width='43' height='43' viewbox='0 0 43 43' xmlns='http://www.w3.org/2000/svg')
                    circle#spec-circle-second(cx='21.5' cy='21.5' r='21.5' fill='#CCCCCC')
                    text(x='15' y='30' style='font-size: 22px; font-weight: 800;') 2
            button.btn-slider-spec#spec-btn-third
                svg(width='43' height='43' viewbox='0 0 43 43' xmlns='http://www.w3.org/2000/svg')
                    circle#spec-circle-third(cx='21.5' cy='21.5' r='21.5' fill='#CCCCCC')
                    text(x='15' y='30' style='font-size: 22px; font-weight: 800;') 3
    .container
        .buttons
            button#previous.controls
                img(src="../../img/arrow-left.png", alt="")
        ul#slides
            li.slide.showing
                img.img(src="../../img/spec-slider1.png", alt="")
                .slider-info
                    h3 Скидка 20%
                    .text 
                        p на любые кассетные рольшторы
                    button
                        span Забронировать	скидку
            li.slide
                img.img(src="../../img/spec-slider2.png", alt="")
                .slider-info
                    h3 Скидка 15% 
                    h4 на весь заказ
                    .text 
                        p при покупке от 3-х единиц
                    button
                        span Посмотреть	каталог	тканей
            li.slide
                img.img(src="../../img/spec-slider3.png", alt="")
                .slider-info
                    h4 Купите	рольшторы
                        br
                        | в	рассрочку	
                    .text.text-select
                        .select-section
                            img(src="../../img/select-icon.png", alt="")
                            p Без	переплат
                        .select-section
                            img(src="../../img/select-icon.png", alt="")
                            p На	срок	до	24	месяцев
                        .select-section
                            img(src="../../img/select-icon.png", alt="")
                            p Без	справок,	нужен	только	паспорт
                    button
                        span Рассчитать	сумму	платежа
        .buttons
            button#next.controls
                img(src="../../img/arrow-right.png", alt="")