doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title LOGO.BY
    link(rel='stylesheet' href='./css/styles.css')
    script(src='./js/main.js')
body
    header
        include ../components/header

    .hero#hero-slider
        include ../components/hero

    .products#products
        include ../components/products

    .price-counter#price-counter
        include ../components/price-counter

    .about#about
        include ../components/about

    .catalogs#catalogs
        include ../components/catalogs

    .specials#specials
        include ../components/specials

    .our-works#our-works
        include ../components/our-works

    .contacts#contacts 
        include ../components/contacts
    
    .footer
        include ../components/footer