doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title LOGO.BY
    link(rel='stylesheet' href='./css/styles.css')
    script(src='./js/main.js')
body
    header
        include ../components/header

    .products#products-slider
        include ../components/products

    .price-counter#price-counter
        include ../components/content

    .about#about 

    .catalogs#catalogs

    .specials#specials

    .our-works#our-works

    .contacts#contacts 
    
    .footer