.memo-game {
  height: 640px;
  width: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;

  .memo-card {
    height: calc(100% / 3 - 10px);
    width: calc(100% / 4 - 10px);
    margin: 5px;
    position: relative;
    backface-visibility: hidden;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;

    .flip {
      transform: rotateY(180deg);
    }

    .memo-card--front, .memo-card--back {
      height: 100%;
      width: 100%;
      padding: 20px;
      backface-visibility: hidden;
      position: absolute;
      top: 0;

    }

    .memo-card--front {
      background: linear-gradient(to right, #fff, #912);
      transform: rotateY(180deg);
    }

    .memo-card--back {
      background: linear-gradient(to right, rgb(40, 89, 24), #000);

    }


  }

  .memo-card:active {
    transform: scale(0.95);
    transition: transform .2s;
    // transform: rotateY(180deg);
  }

}


// .memo-card.flip {
//   transform: rotateY(180deg);
// }